body {
  #padding: 10px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
.navbar-ex{
    margin-bottom: 0px;
}

.navbar-header{
    width: 100px;
    color: #474751;
}

a {
  color: #474751;
}
.container{
    width: 100%;
    height: 100%;
}
.right-navbar-pane{
    float: right;
    margin-left:auto;
    margin-right:0;
    height: 50px;
    padding: 15px 15px;
    font-size: 18px;
    line-height: 20px;
}
.page-header{
    height: 30%;
    width: 100%;
    padding:15px 15px;
    margin: 0px;
    display: table;
}

.page-header-row{
    display: table-row;
}

.agent-img{
    float: left;
    display: table-cell;
    white-space:nowrap;
}

.agent-details-pane{
    padding: 0px 15px;
    display: table-cell;
    font-size: 14px;
    line-height: 20px;
    vertical-align: sub;
    white-space:nowrap;
    width: 100%;
}

.agent-profile-pane{
    font-size: 14px;
    line-height: 20px;
    height: 50px;
    #position: absolute;
    #bottom: 0;
    
}

.agent-active-pane{
    display: table-cell;
    float: right;
    width: 50px;

}
.agent-active{
    font-size: 10px;
    line-height: 14px;
    width: 100%;

}
.agent-name{
    font-size: 16px;
    font-weight: bold;
    line-height: 20px;
    float: left;
}
.agent-rank{
    font-size: 14px;
    line-height: 20px;
    float: left;
    padding-left: 15px;
    #width: 80%;
    
}
.agent-Address{
    font-size: 12px;
    line-height: 16px;
    float: left;
    width: 100%;
    position: relative;
}

.agent-Level{
    font-size: 10px;
    line-height: 14px;
    float: left;
    position: relative;
    white-space: nowrap;
    padding-right: 2px;
}
.agent-Name-Rank{
    position: relative;
    width: 100%;
    float: left;
}




.right-navbar-icons{
    height: 50px;
    font-size: 18px;
    line-height: 20px;
}

.numberCircle {
    border-radius: 50%;

    width: 15px;
    height: 15px;
    padding: 0px;

    background: #fff;
    border: 2px solid #666;
    color: #666;
    text-align: center;
    float: left;
    font: 10px Arial, sans-serif;
}

.agent-acount{
    display: table;
    width: 100%;
    border: solid 1px #D3D3D3;
}

.agent-account-row{
    display: table-row;
    text-align: center;
    max-height: 50px;
    height: 10px;
}
.agent-account-separator{
    display: table-cell;
    width: 2%;
    color:#D3D3D3;
    font-size: 25;
    vertical-align: middle;
}
.liner{
    display: inline-flex;
    vertical-align: middle;

}
.agent-balance{
    display: table-cell;
    white-space: nowrap;
    width: 49%;
    vertical-align: middle;
}
.agent-account-bold{
    font-weight: bolder;
    white-space: nowrap;
    padding: 0px 2px;
}
.agent-description-nonbold{
    white-space: nowrap;
    color:#D3D3D3;
    font-size: 10px;
    vertical-align: sub;
    padding: 4px;
}

.agent-apartments{
    display: table-cell;
    white-space: nowrap;
    width: 49%;
    height: 50px;
    vertical-align: middle;
}

.valign{
    vertical-align: middle;
    padding: 15px;
}
.agent-main-grid{
    display: table;
    padding: 15px 15px;
    width: 100%;
    height: 100%;
}

.agent-main-grid-row{
    display: table-row;
    width: 100%;
}
.agent-main-grid-day{
    display: table-cell;
    width: 70%;
}

.agent-notification-table{
    display: table;
    width: 80%;
    padding-right: 15px;
}

.agent-main-grid-alert-center{
    display: table-cell;
    width: 30%;
}

.agent-notification-row{
    display: table-row;
    background-color: #F0F0F0;
    width: 80%;

}
.agent-notification-cell{
    display: table-cell;
    width: 80%;
    height: 70px;
    border-bottom: solid;
    border-bottom-color: #D3D3D3;
    border-bottom-right-radius: 1%;
    border-bottom-left-radius: 1%;

    white-space: nowrap;

}

.img-house-notification{
    height: 13%;
    float: left;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    background-color: #474751;
}
.img-notification-block{
    vertical-align: middle;
    display: table-cell;
}
.img-notification-bg{
    float: left;
    display: block;

}
.notification-details{
    display: table-cell;
    vertical-align: middle;
}
.img-house-account{
    height: 60%;
    vertical-align: middle;
}

.img-house-container{
    height: 100%;
    vertical-align: middle;
    padding-top: 6px
}
.notification-div{
    vertical-align: middle;
    height: 100%;
    display: table;
}

.notification-div-row{
    display: table-row;
}

.notification-title{
    color: #3366BB;
    font-size: 12px;
    vertical-align: middle;
    float: left;
    padding-left: 4px;

}
.notification-desc{
    color: black;
    font-size: 11px;
    vertical-align: sub;
    float: left;
    padding-left: 4px;
    padding-top: 2px;
    width: 80%;
}
.notification-action{
    color: #808080;
    font-size: 11px;
    vertical-align: sub;
    float: left;
    padding-left: 4px;
    padding-top: 2px;
    width: 90%;
}
.notification-time{
    color: #808080;
    font-size: 9px;
    vertical-align: sub;
    float: left;
    padding-left: 4px;
    padding-top: 2px;
}

.notification-icon-placeholder{
    height: 100%;
    float: left;
    vertical-align: middle;
}